version: "3.8"

services:
  mailhog:
    image: mailhog/mailhog
    container_name: work-whiz-mailhog
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

  redis:
    image: redis:7-alpine
    container_name: work-whiz-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    depends_on:
      - mailhog

  db:
    image: postgres:13
    container_name: work-whiz-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    depends_on:
      - redis

volumes:
  db_data:
